use_default_settings: true
server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "make_up_random_letters_here" # Changed on host
  limiter: false   
  image_proxy: true
search:
  safe_search: 0
  formats:
    - html
    - json    
engines:
  - name: google
    engine: google
    disabled: false
  - name: duckduckgo
    engine: duckduckgo
    disabled: false
  - name: wikipedia
    engine: wikipedia
    disabled: true
